<div id="{{ id }}" class="mb-element mb-element-mapcoordinate hidden" data-title="{{ title |trans }}">
    <div class="block coords-extern">
        <p>{{ "mb.maptool.mapcoordinate.extern.crs.title" | trans }}</p>
        <div class="dropdown" title="{{ "mb.maptool.mapcoordinate.extern.crs.tooltip" | trans }}">
            <select class="hiddenDropdown inputSrs"></select>
            <div class="dropdownValue iconDown"></div>
            <ul class="dropdownList"></ul>
        </div>
        <div class="input-to-clipboard">
            <input class="input inputCoordinate" type="text" title="{{ "mb.maptool.mapcoordinate.extern.input_coords.tooltip" | trans }}"/>
            <div class="icon iconBig copyClipBoard" title="{{ "mb.maptool.mapcoordinate.copytoclipboard.tooltip" | trans }}"></div>
        </div>
    </div>
    <div class="block coords-intern">
        <p>{{ "mb.maptool.mapcoordinate.intern.coords.title" | trans }}</p>
        <div class="input-to-clipboard">
            <input class="input mapCoordinate" type="text" title="{{ "mb.maptool.mapcoordinate.intern.coords.title" | trans }} ({{ "mb.maptool.mapcoordinate.intern.input_coords.tooltip" | trans }})" readonly="true"/>
            <div class="icon iconBig copyClipBoard" title="{{ "mb.maptool.mapcoordinate.copytoclipboard.tooltip" | trans }}"></div>
        </div>
    </div>
    <div class="buttonGroup">
        <span class="button resetFields critical left">{{ "mb.maptool.mapcoordinate.button.reset" | trans }}</span>
        {% if 'clickcoordinate' in configuration.tools %}
        <span class="button readFromMap right" data-modelname="GetCoordinateModel">{{ "mb.maptool.mapcoordinate.button.clickcoordinate" | trans }}</span>
        {% endif %}
        {% if 'centermap' in configuration.tools %}
        <span class="button centerMap right" data-modelname="InputModel">{{ "mb.maptool.mapcoordinate.button.centermap" | trans }}</span>
        {% endif %}
    </div>
</div>